@charset "utf-8";

form{
	margin:0; padding:0;
}
label{
	float:left;
	font-size:.8em; font-weight:bold;
}
input{
	color:#333;
}
input.text, input .textarea{
	padding-left:.2em;
	border:#555555 1px solid;
}
input.text:focus{
	border:#9cc 1px solid;	
}
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}