@charset "UTF-8";
/* CSS Document 

.required{
	border-right:1px solid #f30;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #F30;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #0c0;
	color : #000;
}*/
.validation-advice{
	color:#FF0000;
	font-size:smaller;
	padding-left:1em;
}